<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>405168293226-j60rgr3iojb092ocbg9m8fjdljmr3oc4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.405168293226-j60rgr3iojb092ocbg9m8fjdljmr3oc4</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>405168293226-q0r5i6vl0sa0h402e37pb1pvgtjvr7bl.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCfJs1RFK22W-KvpPWkTmJ3lhrGEKoJ-Gc</string>
	<key>GCM_SENDER_ID</key>
	<string>405168293226</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sevaexchange.app</string>
	<key>PROJECT_ID</key>
	<string>sevaexchange</string>
	<key>STORAGE_BUCKET</key>
	<string>sevaexchange.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:405168293226:ios:7f8fae93be80a349</string>
	<key>DATABASE_URL</key>
	<string>https://sevaexchange.firebaseio.com</string>
</dict>
</plist>